﻿/*Sidebar Scroll Design*/
.scroll1 {
    height: 180px;
    overflow: hidden scroll;
}

    /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

    .scroll1::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .scroll1::-webkit-scrollbar:vertical {
            width: 10px;
        }

    .scroll1::-webkit-scrollbar-button:increment, .scroll1::-webkit-scrollbar-button {
        display: none;
    }

    .scroll1::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    .scroll1::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }

    .scroll1::-webkit-scrollbar-track {
        border-radius: 10px;
    }

a.disabled {
    pointer-events: none;
    cursor: default;
}


/*Pagination Design*/
hr {
    height: 1px;
    width: 75%;
    background-color: white;
}

th {
    text-align: center; /*Para centrar text de Gridviews*/
}

.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline-table;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #001c26;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #ffffff;
            background-color: #001c26;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #001c26;
            background-color: #c1c1c1;
            border-color: #dddddd;
        }

.treeNode { /*PARA CONTROL TREEVIEW*/
    color: #0c232b;
    width: 140px;
    font-size: 11px;
    display: block;
    text-decoration: none;
    border: solid 1px Transparent;
    padding: 3px 3px 3px 3px;
}

    .treeNode:hover,
    a.treeNode:hover,
    .treeNode:link:hover,
    a.treeNode:link:hover {
        font-size: 11px;
        display: block;
        text-decoration: none;
        color: #003687;
        border: solid 1px #71a9ff;
        background-color: #c6ddff;
        padding: 3px 3px 3px 3px;
    }

.rootNode {
    font-weight: bold;
    color: #4f5d73;
    width: 140px;
    font-size: 11px;
    display: block;
    text-decoration: none;
    border: solid 1px Transparent;
    padding: 3px 3px 3px 3px;
    background-color: #d8dbe0;
    border-radius: 10px;
}

.HoverNodeStyle {
    font-size: 11px;
    display: block;
    text-decoration: none;
    color: #4f5d73;
    border: solid 1px Transparent;
    padding: 3px 3px 3px 3px;
}

.leafNode {
    font-size: 11px;
    padding: 3px 3px 3px 3px;
    color: #4f5d73;
    background-color: #d8dbe0;
    border-radius: 10px;
}

.selectNode {
    font-weight: bold;
    background-color: Black;
    color: White;
    border-radius: 10px;
    font-size: 11px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px Transparent;
    padding: 3px 3px 3px 3px;
}

    .selectNode:hover,
    a.selectNode:hover,
    .selectNode:link:hover,
    a.selectNode:link:hover {
        font-size: 11px;
        display: block;
        text-decoration: none;
        color: #003687;
        border: solid 1px #71a9ff;
        background-color: #c6ddff;
        padding: 3px 3px 3px 3px;
    }


/*CharJS Design*/
/* Chart.js */
/*
         * DOM element rendering detection
         * https://davidwalsh.name/detect-node-insertion
         */
@keyframes chartjs-render-animation {
    from {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}

/*
         * DOM element resizing detection
         * https://github.com/marcj/css-element-queries
         */
.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0;
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0;
    }

